<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference 
		for="Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Options\Option" 
		type="Reiz\Rotuisfuntcs\Block\Adminhtml\Product\Edit\Tab\Options\Option" />
	<preference 
		for="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions" 
		type="Reiz\Rotuisfuntcs\Ui\DataProvider\Product\Form\Modifier\CustomOptions" />
	<!--<preference 
		for="Magento\Catalog\Model\Product\Option"
		type="Reiz\Rotuisfuntcs\Model\Product\Option" />-->

	<preference 
			for="Reiz\Rotuisfuntcs\Api\Data\ProductCustomOptionInterface" 
			type="Reiz\Rotuisfuntcs\Model\Product\Option" />

	<type name="Magento\Catalog\Block\Product\View\Options">
        <plugin name="Reiz_Rotuisfuntcs::Option"
                type="Reiz\Rotuisfuntcs\Block\Product\View\Options"
                sortOrder="1"/>
    </type>
    <!--<type name="Magento\Catalog\Model\Product\Option">
    <plugin name="Reiz_Rotuisfuntcs_option" type="Reiz_Rotuisfuntcs\Plugin\Catalog\Model\Product\OptionPlugin"
            sortOrder="1"/>
	</type>-->
</config>